
<h1>Welcome, <%= login.name %>!</h1>
<br>
<h3>Playlists You've Created</h3>
<ul>
<% @user.playlists.each do |playlist| %>
  <li><%=link_to playlist.name, playlist %></li>
<% end %>
</ul>

<%= link_to "Create a New Playlist", new_playlist_path %>
<br><br>
  <%= 
    if login.id == @user.id 
      button_to 'Delete This Profile', user_path(@user), {method: :delete} 
    end
  %>



