
<center>
  <h1 >JammIn</h1>
</center>


<div class="button">
<h2>
<button type="button" class="btn btn-secondary" id="sign_up"><%= link_to "Create an account", new_user_path %> </button> 
<button type="button" class="btn btn-secondary" id="log_in"><%= link_to "Log in", login_path %> </button>
</h2>
</div>

<div>
<h3>
<button type="button" class="btn btn-secondary"><%= link_to "My Account", login, id: "current_user" %> </button>
</h3>
<div>







