
<center>
  <h1>JammIn</h1>
</center>


<div class="button">
<h2>
<button type="button" class="btn btn-secondary" id="sign_up"><%= link_to "Create an account", new_user_path, id: "sign_in" %> </button> 
<button type="button" class="btn btn-secondary" id="log_in"><%= link_to "Log in", login_path %> </button>
</h2>
</div>






