/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin-top: 30px;
}

.container .row.row-cols-3.mt-3 .col p {
  margin-bottom: 0
}

.bottom_buttons {
  margin-bottom: 30px;
}

.container.songs {
  margin-bottom: 30px;
}

.btn.btn-secondary a {
  color: orange;
}

h1.user_greeting {
  text-align: center;
}

#jammin:hover{
  color: orange;
}

#image:hover {
  color: orange;
}

.list > li::before {   
  content: '';   
  display: inline-block;   
  height: 40px;   
  width: 40px;    
  background-size: 40px;   
  background-image: url('https://toppng.com/uploads/preview/vinyl-record-11547075652vnimv7yara.png'); 
  background-repeat: no-repeat;   
  margin-right: 10px;
  background-position: center center;
  vertical-align: middle;
}
