/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1000px;
}

.container-fluid {
  padding: 0;
}

.container .row.row-cols-3.mt-3 .col p {
  margin-bottom: 0
}

.bottom_buttons {
  margin-bottom: 30px;
}

.container.songs {
  margin-bottom: 30px;
}

.btn.btn-secondary a {
  color: orange;
}

h1.user_greeting {
  text-align: center;
}

.navbar.navbar-expand-lg.navbar-light.navbar-custom {
  background-color: black;
}

#jammin:hover{
  color: orange;
}

#image:hover {
  color: orange;
}

#jammin {
  color:white
}

#home-link {
  color: white;
}

#home-link:hover {
  color: orange;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: orange;
}

.list > li::before {   
  content: '';   
  display: inline-block;   
  height: 40px;   
  width: 40px;    
  background-size: 40px;   
  background-image: url('https://toppng.com/uploads/preview/vinyl-record-11547075652vnimv7yara.png'); 
  background-repeat: no-repeat;   
  margin-right: 10px;
  background-position: center center;
  vertical-align: middle;
}

.a-primary{
  color: orange;
}

.a-primary:hover{
  color: rgb(33, 185, 58);
}

<<<<<<< HEAD
.col-md-6 mb-3 {
  position: center;
=======

.col-md-6 mb-3 {
  position: center;

>>>>>>> 33ab8610b0ac5908b0a98f9d56766db0f8132c79
input.buttonto {
  background-color: transparent;
  color: orange;
  border: none;
  font-size: 12px;
}

.btn.btn-secondary#form {
  padding: .150rem .150rem;
}

input.button {
  background-color: transparent;
  color: orange;
  border: none;
  font-size: 14px;
}

.btn.btn-secondary#createedit {
  padding: .250rem .250rem;
<<<<<<< HEAD
=======

>>>>>>> 33ab8610b0ac5908b0a98f9d56766db0f8132c79
}