body.home {
    background-image: url("tape.jpg");
    background-size: cover; 
    // certain size? and then background color?
}

body.home h1 {
    font-size: 60px;
    font-family: 'Shadows Into Light Two';
    margin: 0;
    padding: 10%;
  }

body.home h2 {
    padding-top: 300px;
    text-align: center;
}

