body.home {
    background-image: url("tape.jpg");
    background-size: cover; 
    // certain size? and then background color?
}

body.home h1 {
    font-size: 60px;
    font-family: 'Shadows Into Light Two';
    margin: 0;
    padding: 10%;
    color: black;
  }

body.home h2 {
    margin: 0;
    padding-top: 15%;
    text-align: center;
    color: purple;
}

