<h1 style='margin-top:100px;font-size:2rem'>Playlists!</h1>

<% @playlists.each do |playlist| %>
  <h1 style='font-size:1.5rem;margin-top:50px'>Playlist Name:
      <%= link_to playlist.name, playlist %>
  </h1>
<% end %>